.navitem {
    height: 56px;
    width: 100%;
    border-radius: 28px;
    display: flex;
}

.icon {
    width: 24px;
    height: 24px; 
    padding-left: 16px;
    padding-top: 16px;
}

.text {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 20px;
    padding-top: 18px;
    padding-left: 12px;
    color: #44493d;
    font-weight: bolder;
    width: 100%;
}
