.container {
  min-height: 100vh;
  flex:auto;
}
  
.welcome {
  height: 100vh;
  background-image: url('./ries-bosch-q1cRvBSvw3M-unsplash.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
  
.welcometext {
  color: #1DB954;
  font-family: 'Sigmar One';
  font-size: 150px;
  -webkit-text-stroke: 5px black;
}

.poweredby {
  margin-top: 40px;
  display: flex;
  align-items: center;
}

.poweredbytext {
  font-family: 'Roboto';
  font-size: 24px;
  color: #1db954;
}

.icon {
  width: 150px;
  height: 44px;
  margin-left: 15px;
  background-image: url('./Spotify_Logo_RGB_Green.png');
  background-size: cover;
}