.main {
    width: calc(100vw - 360px);
    height: 100vh;
    background-color: #4b662c;
  }
  
.search {
    width: calc(100vw - 360px - 36px);
    height: fit-content;
    margin-top: 36px;
    margin-left: 36px;
    display: flex;
    flex-wrap: wrap;
}