.container {
    min-height: 100vh;
    background-color: #4b662c;
    flex: auto;
  }
  
.search {
    height: fit-content;
    margin-top: 36px;
    margin-left: 36px;
    display: flex;
    flex-wrap: wrap;
}