#search-card {
    height: 100px;
    width: fit-content;
    border-radius: 12px;
    background-color: #e2e3d8;
    margin: 10px;
    display: flex;
}

#search-card-icon {
    width: 64px;
    height: 64px; 
    padding-left: 16px;
    padding-top: 16px;
}

#search-card-text {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 20px;
    padding-top: 24px;
    padding-left: 12px;
    padding-right:  16px;
    color: #44493d;
    width: fit-content;
}

#artist-album {
    margin-top: 12px;
}