.nav-header {
    height: 56px;
    width: 336px;
    position: relative;
    left: 12px;
    top: 12px;
    color: #44493d;
}

.nav-title {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    width: fit-content;
    line-height: 20px;
    position: absolute;
    left: 16px;
    top: 18px;
}
